
body {
    margin: 0;
}

.app {
    text-align: center;
    font-family: sans-serif;

}

ul {
    list-style-type: none;
    list-style: inside;
}

.coinList-image {
    width: 50px;
}

.coinList-item {
    display: flex;
}

.coinSummary {
    border-color: white;
    border-style: outset;
}

.coin-data-category {
    font-size: 10px;
}

.delete-icon {
    display: none;
    position: absolute;
    right: 6px;
}

.coin:hover .delete-icon {
    display: block;
}

.header {
    padding-bottom: 20px;
}

.success {
    color: green;
}

.danger {
    color: red;
}

.coinContainer {
    border: 1px solid black;
    padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}